	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
<footer>
	<div class="container my-3">
		<div class="row">
			<div class="col-md-5">
				<small class="float-left pt-2">
					<li>Designed by: <a href="https://join.skype.com/invite/mfubkhWxPKdl">Lam Khac Duy</a></li>
					<li>Contact: lamkhacduy13@gmail.com</li>
					<li>Version: 2.0</li>
				</small>
			</div>
			<div class="col-md-7 mt-3">
				<a href="/">Kimöchi <span>&nbsp;Hub&nbsp;</span> 2019</a>
			</div>
		</div>
	</div>
</footer>
</html>