<% include ../partials/header %>
	<div class="container">
		<h2 class="heading"><b>User Sign Up</b></h2>
		<form id="form-register" class="mx-auto" action="/user/register" method="POST">
			<input id="user" class="form-control my-2" type="text" name="username" title="*User name must be from 5 through 20 characters and not includes special characters." placeholder="User name" required>
			<small id="user-message" class="text-danger"><i></i></small>
			<input id="pass" class="form-control my-2" type="password" name="password" title="*Password must has atleast 5 characters." placeholder="Password" required>
			<small id="pass-message" class="text-danger"><i></i></small>
			<input id="pass-again" class="form-control my-2" type="password" name="passwordAgain" title="*Type password again." placeholder="Password again" required>
			<small id="pass-again-message" class="text-danger"><i></i></small>
			<input id="member-code" class="form-control my-2" type="text" name="code" title="*Member code to register account." placeholder="Member code" required>
			<small><i>*Contact <a href="https://join.skype.com/invite/mfubkhWxPKdl" target="_blank">Khac Duy Lam</a> to receive member code.</i></small>
			<input class="btn btn-primary btn-block" type="submit" name="submit" value="Sign up">
			<a class="mx-auto" href="/kimochis">Go back</a>
		</form>
	</div>
	<script type="text/javascript">var user=$("#user"),pass=$("#pass"),passAgain=$("#pass-again"),userMessage=$("#user-message"),passMessage=$("#pass-message"),passAgainMessage=$("#pass-again-message");user.on("input",function(){0!==user.val().length&&(user.val().length<5||20<user.val().length||/[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(user.val()))?userMessage.text("*User name must be from 5 through 20 characters and not includes special characters."):userMessage.text("")}),pass.on("input",function(){pass.val().length<5&&0!==pass.val().length?passMessage.text("*Password must has atleast 5 characters."):passMessage.text("")}),passAgain.on("input",function(){pass.val()!==passAgain.val()&&0!==passAgain.val().length?passAgainMessage.text("*Password is not matched."):passAgainMessage.text("")}),$(function(){$(window).width()&&$(window).width()<=768?$("#form-register").css("width","65%"):$("#form-register").css("width","40%")}),$(window).on("resize",function(){$(window).width()&&992<$(window).width()&&$("#form-register").css("width","40%"),$(window).width()&&768<$(window).width()&&$(window).width()<=992&&$("#form-register").css("width","50%"),$(window).width()&&576<$(window).width()&&$(window).width()<=768&&$("#form-register").css("width","65%"),$(window).width()&&$(window).width()<576&&$("#form-register").css("width","70%")});</script>
<% include ../partials/footer %>