<% include ../partials/header %>
	<div class="container-fluid mt-3">
		<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselIndicators" data-slide-to="1"></li>
				<li data-target="#carouselIndicators" data-slide-to="2"></li>
			</ol>
		<div class="carousel-inner">
		    <div class="carousel-item active" data-interval="2000">
		        <img class="d-block w-100 start-img" src="/imgs/carousel-img1.jpg" alt="kimochi">
		        <div class="carousel-caption">
				    <h5 class="btn btn-primary btn-lg bg-light"><a href="/kimochis"><strong>Get Start Now!</strong></a></h5>
				</div>
		    </div>
		    <div class="carousel-item" data-interval="2000">
		        <img class="d-block w-100 start-img" src="/imgs/carousel-img2.jpg" alt="kimochi">
		        <div class="carousel-caption">
				    <h5 class="btn btn-primary btn-lg bg-light"><a href="/kimochis"><strong>Discover Kimochis Around!</strong></a></h5>
				</div>
		    </div>
		    <div class="carousel-item" data-interval="2000">
		        <img class="d-block w-100 start-img" src="/imgs/carousel-img3.jpg" alt="kimochi">
		        <div class="carousel-caption">
				    <h5 class="btn btn-primary btn-lg bg-light"><a href="/user/register"><strong>Sign Up An Account!</strong></a></h5>
				</div>
		    </div>
		</div>
		    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
		        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		    </a>
		    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
		        <span class="carousel-control-next-icon" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		    </a>
		</div>
	</div>
	<script type="text/javascript">$(function(){if($(window).width()&&$(window).width()<768){var i=$(".start-img");i.length&&($(i[0]).attr("src","/imgs/carousel-mobile-img1.jpg"),$(i[1]).attr("src","/imgs/carousel-mobile-img2.jpg"),$(i[2]).attr("src","/imgs/carousel-mobile-img3.jpg"))}}),$(window).on("resize",function(){if($(".start-img").length){var i=$(".start-img");$(window).width()<768?($(i[0]).attr("src","/imgs/carousel-mobile-img1.jpg"),$(i[1]).attr("src","/imgs/carousel-mobile-img2.jpg"),$(i[2]).attr("src","/imgs/carousel-mobile-img3.jpg")):($(i[0]).attr("src","/imgs/carousel-img1.jpg"),$(i[1]).attr("src","/imgs/carousel-img2.jpg"),$(i[2]).attr("src","/imgs/carousel-img3.jpg"))}});</script>
<% include ../partials/footer %>